# Environments
.venv*
venv*
*/.venv*
*/venv*
*/*/.venv*
*/*/venv*
*/*/*/venv*
*/*/*/.venv*

# Python import
__pycache__
.pytest_cache
*/__pycache__
*/.pytest_cache
*/*/__pycache__
*/*/.pytest_cache
*/*/*/__pycache__
*/*/*/.pytest_cache

# password etc
.env
*/.env
*/*/.env
*/*/*/.env
