body {
    font-family: sans-serif;
    padding: 1em;
    background: white;
    margin: 0;
}

h1 {
    text-align: center;
    color: black;
}

table {
    width: 65%;
    border-collapse: collapse;
    margin-top: 1em;
}

th, td {
    border: 1px solid black;
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #6e6e6e;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    table, th, td {
        font-size: 12px;
    }
}